@charset "UTF-8";
/*Mixin*/
/*Secciones Enteras*/
body {
  width: 100%;
  height: max-content;
  background-color: #f2f2f2;
  margin: auto;
  padding: 0px; }

main {
  width: 100%;
  height: max-content;
  overflow: hidden; }

header {
  width: 100%;
  height: auto;
  background-color: #EDECEB;
  padding: 0px;
  padding-top: 1%; }

fieldset {
  overflow: hidden; }

/*titulos y subtitulos*/
h1 {
  color: black;
  font-size: inherit;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 4px;
  word-spacing: 6px;
  text-align: center; }

.tituloPrincipal {
  margin: 0px;
  padding-top: 30px; }

.subtitulo, .galeria .galeria__subtitulo {
  color: inherit;
  font-size: 30px;
  font-family: 'Shippori Mincho B1', serif;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center; }

h3, .visita h3 {
  color: black;
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 900;
  text-transform: uppercase; }

h4, .visita h4 {
  color: black;
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 900; }

/*listas, parrafos*/
ol, ul {
  color: black;
  font-size: inherit;
  font-family: 'Shippori Mincho B1', serif;
  list-style-type: none;
  list-style: none; }

p, .visita p {
  color: black;
  font-size: 15px;
  font-family: 'Shippori Mincho B1', serif; }

a {
  text-decoration: none; }

/*INICIO*/
.inicio {
  width: 100%;
  height: 70%;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch; }
  .inicio fieldset {
    margin-bottom: 50px; }
  .inicio .inicio__video {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 50%;
    height: fit-content;
    padding: 20px;
    animation: subir 3s;
    background-color: #f2f2f2; }
    .inicio .inicio__video h3 {
      text-transform: uppercase;
      color: black;
      font-size: 15px;
      font-family: 'Shippori Mincho B1', serif; }
    .inicio .inicio__video iframe {
      width: 100%; }
  .inicio .inicio__historia {
    background-color: #f2f2f2;
    flex-basis: 40%;
    height: fit-content;
    padding: 20px;
    animation: subir 3s;
    animation-iteration-count: 1; }
    .inicio .inicio__historia h3 {
      text-transform: uppercase;
      color: black;
      font-size: 15px;
      font-family: 'Shippori Mincho B1', serif; }

/*GALERIA*/
.galeria {
  display: block; }
  .galeria .galeria__subtitulo {
    margin-top: 5%;
    margin-bottom: 5%; }
  .galeria .carrousel {
    width: 40%;
    height: 50%;
    margin: auto;
    margin-bottom: 5%; }
    .galeria .carrousel .galeria__carrouselTexto {
      background: #f0f0f0;
      background: linear-gradient(0deg, rgba(240, 240, 240, 0.412202) 0%, white 100%);
      color: black;
      font-size: inherit;
      font-family: 'Shippori Mincho B1', serif; }
      .galeria .carrousel .galeria__carrouselTexto .galeria__carrouselTitulo {
        color: black;
        font-size: inherit;
        font-family: 'Shippori Mincho B1', serif; }

/*FOOTER*/
footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #353535; }
  footer .footer__lista {
    color: white;
    font-size: 15px;
    font-family: 'Shippori Mincho B1', serif;
    font-variant: small-caps;
    overflow: hidden;
    margin-right: 30px; }
    footer .footer__lista .footer__elemento {
      padding-top: 0.5%; }

/*INDEX*/
.indice {
  filter: initial;
  color: black;
  font-size: 15px;
  font-family: 'Shippori Mincho B1', serif;
  width: 100%;
  height: inherit;
  font-variant: small-caps;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch; }
  .indice .indice__elemento {
    flex-basis: 19%;
    padding: 0px;
    transition: font-size 0.7s;
    margin-left: 100px; }
    .indice .indice__elemento #indiceTalleres {
      padding: 0px; }
    .indice .indice__elemento a {
      color: black;
      text-decoration: none;
      text-transform: uppercase; }
      .indice .indice__elemento a:hover {
        color: black; }
    .indice .indice__elemento:hover {
      font-size: 30px; }
    .indice .indice__elemento .indice__subelemento {
      margin-left: 0px;
      font-size: 20px;
      transition: font-size 0.7s; }
      .indice .indice__elemento .indice__subelemento:hover {
        font-size: 30px; }

li {
  list-style-type: none; }

/*CONTACTO*/
.formulario {
  color: black;
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  font-style: italic;
  font-variant: small-caps;
  border: gray 5px solid;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #cccccc;
  animation: subir 1.5s;
  animation-iteration-count: 1; }
  .formulario .button {
    color: black;
    font-size: 18px;
    font-family: 'Shippori Mincho B1', serif; }
  .formulario #enviar:focus {
    background-color: lightgreen; }
  .formulario #resetear:focus {
    background-color: lightsalmon; }

/*VISITAR*/
.visita {
  display: grid;
  grid-template-areas: "Reserva Horarios" "Recorrido Recorrido";
  grid-template-columns: 60% 40%;
  grid-template-rows: 30% 70%;
  grid-row-gap: 3%;
  grid-column-gap: 2%;
  justify-content: center;
  margin: 5%;
  height: max-content; }
  .visita .visita__reserva {
    grid-area: Reserva;
    padding: 20px;
    height: fit-content;
    animation: subir 1.5s;
    background-color: #f2f2f2; }
  .visita .visita__horarios {
    grid-area: Horarios;
    padding: 20px;
    height: fit-content;
    background-color: initial;
    animation: subir 1.5s; }
  .visita .visita__recorrido {
    grid-area: Recorrido;
    height: fit-content;
    padding: 20px;
    margin-top: 2%;
    animation: subir 1.5s;
    background-color: #f2f2f2; }
    .visita .visita__recorrido .visita__mapas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-around;
      align-content: space-around;
      align-items: center;
      height: fit-content;
      padding: 3%; }
      .visita .visita__recorrido .visita__mapas #mapa1 {
        flex-basis: 50%; }
        .visita .visita__recorrido .visita__mapas #mapa1:hover, .visita .visita__recorrido .visita__mapas #mapa2:hover {
          animation-name: animacionLatir;
          animation-duration: 2s;
          animation-iteration-count: infinite; }
        .visita .visita__recorrido .visita__mapas #mapa1 img {
          width: 850px;
          height: auto; }
      .visita .visita__recorrido .visita__mapas #mapa2 {
        flex-basis: 50%; }
        .visita .visita__recorrido .visita__mapas #mapa2 img {
          width: 850px;
          height: auto; }

/*TALLERES*/
.talleres {
  display: grid;
  grid-template-rows: 22% 22% 22% 22%;
  grid-template-columns: 100%;
  grid-template-areas: "taller"  "taller" "taller"  "taller";
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 20%;
  grid-row-gap: 100px;
  grid-column-gap: 20%; }
  .talleres .talleres__taller {
    display: grid;
    grid-template-rows: 30% 50%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "sub sub" "info foto";
    grid-row-gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    animation: subir 1.5s;
    animation-iteration-count: 1;
    overflow: hidden;
    align-items: center;
    justify-items: stretch; }
    .talleres .talleres__taller div p {
      color: black;
      font-size: 15px;
      font-family: 'Shippori Mincho B1', serif; }
    .talleres .talleres__taller .talleres__nombre {
      grid-area: sub;
      font-size: 15px; }
    .talleres .talleres__taller .talleres__imagen {
      grid-area: foto; }
      .talleres .talleres__taller .talleres__imagen img {
        width: auto;
        height: 300px;
        overflow: hidden; }
    .talleres .talleres__taller .talleres__info {
      grid-area: info;
      font-size: 15px;
      display: grid;
      grid-template-rows: 10% 30% 60%;
      grid-template-columns: 100%;
      grid-template-areas: "precio" "dur" "mat";
      grid-row-gap: 5%;
      padding: 10px;
      background: #f2f2f2;
      overflow: hidden; }
      .talleres .talleres__taller .talleres__info h4 {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info ul {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info li {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info .talleres__duracion {
        grid-area: dur; }
      .talleres .talleres__taller .talleres__info .talleres__precio {
        grid-area: precio; }
      .talleres .talleres__taller .talleres__info .talleres__material {
        grid-area: mat; }

/*Animaciones*/
@keyframes animacionLatir {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.05, 1.05); }
  100% {
    transform: scale(1, 1); } }

@keyframes subir {
  0% {
    opacity: 0;
    transform: translate(0, 100px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

/*Media Query*/
/*Tablet

INICIO y GALERÍA

*/
@media only screen and (max-width: 768px) {
  header {
    padding: 0px;
    width: 100%;
    height: max-content; }
  .inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px; }
  .indice {
    color: black;
    font-size: 30px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: left; }
  .visita__imagenes {
    width: 500px;
    margin: 0px; } }

/*Smartphone

INICIO y GALERÍA

*/
@media only screen and (max-width: 480px) {
  header {
    padding: 0px;
    height: max-content;
    width: 100%; }
  .inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px; }
  .indice {
    color: black;
    font-size: 40px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
  .visita__imagenes {
    width: 300px;
    margin: 0px; } }
