@charset "UTF-8";
/*Mixin*/
/*Secciones Enteras*/
body {
  width: 100%;
  height: max-content;
  background-color: #f2f2f2;
  margin: auto;
  padding: 0px; }

.body__contacto {
  background-color: initial; }

main {
  width: 100%;
  height: max-content;
  overflow: hidden; }

header {
  width: 100%;
  height: auto;
  background-color: #EDECEB;
  padding: 0px;
  padding-top: 1%; }

fieldset {
  overflow: hidden; }

/*titulos y subtitulos*/
h1 {
  color: black;
  font-size: inherit;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 4px;
  word-spacing: 6px;
  text-align: center; }

.tituloPrincipal, .tituloPrincipal:hover {
  color: black;
  font-size: 50px;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 4px;
  word-spacing: 6px;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  text-decoration: none; }

.tituloPrincipalLink {
  color: black;
  text-decoration: none; }
  .tituloPrincipalLink:hover {
    color: black;
    text-decoration: none; }

.subtitulo, .galeria .galeria__subtitulo {
  color: inherit;
  font-size: 40px;
  font-family: 'Shippori Mincho B1', serif;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center; }

h3, .visita h3 {
  color: black;
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  text-transform: uppercase; }

h4, .visita h4 {
  color: black;
  font-size: 18px;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 900; }

/*listas, parrafos*/
ol, ul {
  color: black;
  font-size: inherit;
  font-family: 'Shippori Mincho B1', serif;
  list-style-type: none;
  list-style: none; }

p, .visita p {
  color: black;
  font-size: 15px;
  font-family: 'Shippori Mincho B1', serif; }

a {
  text-decoration: none; }

/*INICIO*/
.inicio {
  width: 100%;
  height: 70%;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch; }
  .inicio fieldset {
    margin-bottom: 50px; }
  .inicio .inicio__video {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 50%;
    height: fit-content;
    padding: 20px;
    animation: subir 3s;
    background-color: #f2f2f2; }
    .inicio .inicio__video h3 {
      text-transform: uppercase;
      color: black;
      font-size: 22px;
      font-family: 'Shippori Mincho B1', serif; }
    .inicio .inicio__video iframe {
      width: 100%; }
  .inicio .inicio__historia {
    background-color: #f2f2f2;
    flex-basis: 40%;
    height: fit-content;
    padding: 20px;
    animation: subir 3s;
    animation-iteration-count: 1; }
    .inicio .inicio__historia h3 {
      text-transform: uppercase;
      color: black;
      font-size: 22px;
      font-family: 'Shippori Mincho B1', serif; }

/*GALERIA*/
.galeria {
  display: block; }
  .galeria .galeria__subtitulo {
    margin-top: 5%;
    margin-bottom: 5%; }
  .galeria .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px; }
  .galeria .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px; }
  .galeria .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    animation: subir 1.5s; }
  .galeria .container {
    position: relative;
    width: 50%; }
  .galeria .image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden; }
  .galeria .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -80%);
    text-align: center; }
  .galeria .container:hover .image {
    opacity: 0.3; }
  .galeria .container:hover .middle {
    opacity: 1; }
  .galeria .text {
    color: black;
    font-size: 16px;
    padding: 16px 32px; }
  @media screen and (max-width: 800px) {
    .galeria .column {
      flex: 50%;
      max-width: 50%; } }
  @media screen and (max-width: 600px) {
    .galeria .column {
      flex: 100%;
      max-width: 100%; } }

/*FOOTER*/
footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #353535;
  display: grid;
  grid-template-areas: "footer logo";
  grid-template-columns: 70% 30%;
  justify-content: center;
  height: max-content; }
  footer .footer__lista {
    grid-area: footer;
    color: white;
    font-size: 15px;
    font-family: 'Shippori Mincho B1', serif;
    font-variant: small-caps;
    overflow: hidden;
    margin-right: 30px; }
    footer .footer__lista .footer__elemento {
      padding-top: 0.5%; }
  footer .footer__logo {
    grid-area: logo;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 10%; }
    footer .footer__logo img {
      height: 50%;
      width: auto; }

/*INDEX*/
.indice {
  filter: initial;
  color: black;
  font-size: 15px;
  font-family: 'Shippori Mincho B1', serif;
  width: 100%;
  height: inherit;
  font-variant: small-caps;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch; }
  .indice .indice__elemento {
    flex-basis: 19%;
    padding: 0px;
    margin-left: 100px;
    transition: all 1s; }
    .indice .indice__elemento #indiceTalleres {
      padding: 0px; }
    .indice .indice__elemento a {
      color: black;
      text-decoration: none;
      text-transform: uppercase; }
      .indice .indice__elemento a:hover {
        color: black; }
    .indice .indice__elemento:hover {
      font-size: 20px;
      text-decoration: underline; }
    .indice .indice__elemento .indice__subelemento {
      margin-left: 0px;
      font-size: 20px;
      transition: font-size 0.7s; }
      .indice .indice__elemento .indice__subelemento:hover {
        font-size: 22px; }
  .indice .indice__seleccionado {
    text-decoration: underline; }

li {
  list-style-type: none; }

/*CONTACTO*/
.formulario {
  color: black;
  font-size: 20px;
  font-family: 'Shippori Mincho B1', serif;
  font-style: italic;
  font-variant: small-caps;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #cccccc;
  animation: subir 1.5s;
  animation-iteration-count: 1; }
  .formulario .button {
    color: black;
    font-size: 18px;
    font-family: 'Shippori Mincho B1', serif; }
  .formulario #enviar:focus {
    background-color: lightgreen; }
  .formulario #resetear:focus {
    background-color: lightsalmon; }

/*VISITAR*/
.visita {
  display: grid;
  grid-template-areas: "Protocolo Horarios";
  grid-template-columns: 58% 40%;
  grid-column-gap: 2%;
  justify-content: center;
  margin: 5%;
  height: 600px;
  background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/useo_bellas_artes980_0.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .visita .visita__protocolo {
    height: 100%;
    grid-area: Protocolo;
    padding: 20px;
    animation: subir 1.5s;
    background-color: rgba(242, 242, 242, 0.644); }
  .visita .visita__horarios {
    grid-area: Horarios;
    padding: 20px;
    height: fit-content;
    background-color: initial;
    animation: subir 1.5s; }

/*TALLERES*/
.talleres {
  display: grid;
  grid-template-rows: 22% 22% 22% 22%;
  grid-template-columns: 100%;
  grid-template-areas: "taller"  "taller" "taller"  "taller";
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  grid-row-gap: 100px;
  grid-column-gap: 20%; }
  .talleres .talleres__taller {
    display: grid;
    grid-template-rows: 30% 50%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "sub sub" "info foto";
    grid-row-gap: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    animation: subir 1.5s;
    animation-iteration-count: 1;
    overflow: hidden;
    align-items: center;
    justify-items: stretch; }
    .talleres .talleres__taller div p {
      color: black;
      font-size: 15px;
      font-family: 'Shippori Mincho B1', serif; }
    .talleres .talleres__taller .talleres__nombre {
      grid-area: sub;
      font-size: 15px; }
    .talleres .talleres__taller .talleres__imagen {
      grid-area: foto; }
      .talleres .talleres__taller .talleres__imagen img {
        width: auto;
        height: 300px;
        overflow: hidden; }
    .talleres .talleres__taller .talleres__info {
      grid-area: info;
      font-size: 15px;
      display: grid;
      grid-template-rows: 10% 30% 60%;
      grid-template-columns: 100%;
      grid-template-areas: "precio" "dur" "mat";
      grid-row-gap: 5%;
      padding: 10px;
      background: #f2f2f2;
      overflow: hidden; }
      .talleres .talleres__taller .talleres__info h4 {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info ul {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info li {
        font-size: 15px; }
      .talleres .talleres__taller .talleres__info .talleres__duracion {
        grid-area: dur; }
      .talleres .talleres__taller .talleres__info .talleres__precio {
        grid-area: precio; }
      .talleres .talleres__taller .talleres__info .talleres__material {
        grid-area: mat; }

/*Animaciones*/
@keyframes subir {
  0% {
    opacity: 0;
    transform: translate(0, 100px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

/*Media Query*/
/*Tablet

INICIO y GALERÍA

*/
@media only screen and (max-width: 768px) {
  header {
    padding: 0px;
    width: 100%;
    height: max-content; }
  .footer__logo {
    display: block; }
  .indice {
    color: black;
    font-size: 15px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .indice .indice__elemento {
      margin: 0px; }
  .visita__imagenes {
    width: 500px;
    margin: 0px; }
  .inicio {
    width: 100%;
    height: 70%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .inicio fieldset {
      margin-bottom: 50px; }
    .inicio .inicio__video {
      display: block;
      flex-direction: column;
      justify-content: space-evenly;
      flex-basis: 50%;
      height: fit-content;
      padding: 20px;
      animation: subir 3s;
      background-color: #f2f2f2; }
      .inicio .inicio__video h3 {
        text-transform: uppercase;
        color: black;
        font-size: 22px;
        font-family: 'Shippori Mincho B1', serif; }
      .inicio .inicio__video iframe {
        width: 100%; }
    .inicio .inicio__historia {
      background-color: #f2f2f2;
      flex-basis: 50%;
      height: fit-content;
      padding: 20px;
      animation: subir 3s;
      animation-iteration-count: 1; }
      .inicio .inicio__historia h3 {
        text-transform: uppercase;
        color: black;
        font-size: 22px;
        font-family: 'Shippori Mincho B1', serif; } }

/*Smartphone

INICIO y GALERÍA

*/
@media only screen and (max-width: 480px) {
  header {
    padding: 0px;
    height: max-content;
    width: 100%; }
  .indice {
    color: black;
    font-size: 15px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .indice .indice__elemento {
      margin: 0px; }
  .inicio {
    width: 100%;
    height: 70%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .inicio fieldset {
      margin-bottom: 50px; }
    .inicio .inicio__video {
      display: block;
      flex-direction: column;
      justify-content: space-evenly;
      flex-basis: 50%;
      height: fit-content;
      padding: 20px;
      animation: subir 3s;
      background-color: #f2f2f2; }
      .inicio .inicio__video h3 {
        text-transform: uppercase;
        color: black;
        font-size: 22px;
        font-family: 'Shippori Mincho B1', serif; }
      .inicio .inicio__video iframe {
        width: 100%; }
    .inicio .inicio__historia {
      background-color: #f2f2f2;
      flex-basis: 50%;
      height: fit-content;
      padding: 20px;
      animation: subir 3s;
      animation-iteration-count: 1; }
      .inicio .inicio__historia h3 {
        text-transform: uppercase;
        color: black;
        font-size: 22px;
        font-family: 'Shippori Mincho B1', serif; }
  .footer__logo {
    display: block; } }
