/*Mixin*/
@mixin size($width, $height){
    width: $width;
    height: $height;
}

@mixin text($color, $font-size){
    color: $color;
    font-size: $font-size;
    font-family: 'Shippori Mincho B1', serif;
}


/*Secciones Enteras*/
body {
    @include size(100%, max-content);
    background-color: rgb(242, 242, 242);
    margin: auto;
    padding: 0px;
}

main{
    @include size(100%, max-content);
    overflow: hidden;
}
    
header {
    @include size(100%, auto);
    background-color: #EDECEB;
    padding: 0px;
    padding-top:1%;
}

    
fieldset {
    overflow: hidden;
}

    /*titulos y subtitulos*/
    
h1 {
    @include text(black, inherit);
    letter-spacing: 4px;
    word-spacing: 6px;
    text-align: center;}

.tituloPrincipal {
    margin: 0px;
    padding-top: 30px;
}
.subtitulo {
    @include text(inherit, 30px);
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}


h3{
    @include text(black, 20px);
    font-weight:900;
    text-transform: uppercase;
}
    
h4{
    @include text(black, 20px);
    font-weight:900;
}
  
/*listas, parrafos*/
ol, ul {
    @include text(black, inherit);
    list-style-type: none;
    list-style: none;
}
    
p{
    @include text(black, 15px)
}
    
a {
    text-decoration: none;
}


/*INICIO*/

.inicio {
    @include size(100%, 70%);
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    fieldset {
        margin-bottom: 50px;
    }

    .inicio__video{
        display: block;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 50%;
        height:fit-content;
        padding: 20px;
        animation: subir 3s;
        background-color: rgb(242, 242, 242);
        h3 {
            text-transform: uppercase;
            @include text(black, 15px)
        }
        iframe{
            width: 100%;
        }
    }
    .inicio__historia {
        h3 {
            text-transform: uppercase;
            @include text(black, 15px)
        }
        background-color: rgb(242, 242, 242);
        flex-basis: 40%;
        height:fit-content;
        padding: 20px;
        animation: subir 3s;
        animation-iteration-count: 1;
        }
}

    
 
/*GALERIA*/
.galeria{
    display: block;
    .galeria__subtitulo{
        @extend .subtitulo;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .carrousel{
        @include size(40%, 50%);
        margin: auto;
        margin-bottom: 5%;

        .galeria__carrouselTexto{
            background: rgb(240,240,240);
            background: linear-gradient(0deg, rgba(240,240,240,0.41220238095238093) 0%, rgba(255,255,255,1) 100%);
            @include text(black, inherit);

            .galeria__carrouselTitulo{
                @include text(black, inherit);
            }
        }
    }
}

/*FOOTER*/

footer{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(53, 53, 53);
    .footer__lista {
        @include text(white, 15px);
        font-variant: small-caps;
        overflow: hidden;
        margin-right: 30px;
        .footer__elemento{
            padding-top: 0.5%;
        }
    }   
}
    

/*INDEX*/

.indice {
    filter:initial;
    @include text(black, 15px);
    @include size(100%, inherit);
    font-variant: small-caps;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;

    .indice__elemento{
        flex-basis: 19%;
        padding: 0px;
        transition: font-size 0.7s;
        margin-left: 100px;

        #indiceTalleres{
            padding:0px;
            }

        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                color:black;
            }
        }

        &:hover{
            font-size: 30px;
        }

        .indice__subelemento{
            margin-left: 0px;
            font-size: 20px;
            transition: font-size 0.7s;

            &:hover{
                font-size: 30px;
            }
        }
    }
}

li {
    list-style-type: none;
}

/*CONTACTO*/

.formulario {
    @include text(black, 20px);
    font-style: italic;
    font-variant: small-caps;
    border:gray 5px solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background:rgb(204, 204, 204);
    animation: subir 1.5s;
    animation-iteration-count: 1;

    .button {
        @include text(black, 18px);
    }
    
    #enviar:focus {
        background-color: lightgreen;
    }
    
    #resetear:focus {
        background-color: lightsalmon;
    }
}


/*VISITAR*/
.visita{
    display: grid;
    grid-template-areas: 
                        "Reserva Horarios"
                        "Recorrido Recorrido";
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-row-gap: 3%;
    grid-column-gap: 2%;
    justify-content: center;
    margin: 5%;
    height:max-content;
    h3{
        @extend h3;
    }
    h4{
        @extend h4;
    }
    p{
        @extend p;
    }
    
    .visita__reserva{
        grid-area: Reserva;
        padding: 20px;
        height: fit-content;
        animation: subir 1.5s;
        background-color: rgb(242, 242, 242);
        
    }
    .visita__horarios{
        grid-area: Horarios;
        padding: 20px;
        height: fit-content;
        background-color: initial;
        animation: subir 1.5s;
    }
    .visita__recorrido{
        grid-area: Recorrido;
        height: fit-content;
        padding: 20px;
        margin-top: 2%;
        animation: subir 1.5s;
        background-color: rgb(242, 242, 242);

        .visita__mapas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-content: space-around;
            align-items: center;
            height: fit-content;
            padding: 3%;


            #mapa1{
                flex-basis: 50%;
                &:hover{
                animation-name: animacionLatir;
                animation-duration: 2s;
                animation-iteration-count: infinite;}
                img{
                    @include size(850px, auto);
                }
            }
            #mapa2{
                flex-basis: 50%;
                &:hover{
                @extend #mapa1:hover;}
                img{
                    @include size(850px, auto);
                }
            }
        }
    }
}


/*TALLERES*/
.talleres{
    display: grid;
    grid-template-rows: 22% 22% 22% 22%;
    grid-template-columns: 100%;
    grid-template-areas: 
                             "taller" 
                             "taller"
                             "taller" 
                             "taller";
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 20%;
    grid-row-gap: 100px;
    grid-column-gap: 20%;

    .talleres__taller{
        display: grid;
        grid-template-rows: 30% 50%;
        grid-template-columns: 60% 40%;
        grid-template-areas: "sub sub"
                             "info foto";
        grid-row-gap: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
        animation: subir 1.5s;
        animation-iteration-count: 1;
        overflow: hidden;
        align-items:center;
        justify-items: stretch;
        div p {
            @include text(black, 15px);
        }

        .talleres__nombre{
            grid-area: sub;
            font-size: 15px;
        }
        
        .talleres__imagen{
            grid-area: foto;
            img{
                @include size(auto, 300px);
                overflow: hidden;
           
            }
        }

        .talleres__info{
            grid-area: info;
            font-size: 15px;
            display: grid;
            grid-template-rows: 10% 30% 60%;
            grid-template-columns: 100%;
            grid-template-areas: "precio"
                                "dur"
                                "mat" ;
            grid-row-gap: 5%;
            padding: 10px;
            background: rgb(242,242,242);
            overflow: hidden;
            h4{
                font-size: 15px;
            }
            ul{
                font-size: 15px;
            }
            li{
                font-size: 15px;
            }

            .talleres__duracion{
                grid-area:dur;
            }
        
            .talleres__precio{
                grid-area:precio;
            }
            
            .talleres__material{
                grid-area:mat;
            }
        }
     }    
}
    
/*Animaciones*/

@keyframes animacionLatir{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.05,1.05);
    }
    100%{
        transform: scale(1,1);
    }
}

@keyframes subir {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }

}

/*Media Query*/

/*Tablet

INICIO y GALERÍA

*/

@media only screen and (max-width: 768px) {
    header {
        padding: 0px;
        @include size(100%, max-content);
    }
    .inicio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin:0px;
    }

    .indice {
        @include text(black, 30px);
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: left;
    }
    .visita__imagenes{
        width: 500px;
        margin: 0px;
        
    }

}

/*Smartphone

INICIO y GALERÍA

*/

@media only screen and (max-width: 480px) {
    header {
        padding: 0px;
        height: max-content;
        width: 100%;
    }
    .inicio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin:0px;
    }

    .indice {
        @include text(black, 40px);
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .visita__imagenes{
        width: 300px;
        margin: 0px;
        
    }

}



