/*Mixin*/
@mixin size($width, $height){
    width: $width;
    height: $height;
}

@mixin text($color, $font-size){
    color: $color;
    font-size: $font-size;
    font-family: 'Shippori Mincho B1', serif;
}


/*Secciones Enteras*/
body {
    @include size(100%, max-content);
    background-color: rgb(242, 242, 242);
    margin: auto;
    padding: 0px;
}

.body__contacto{
    background-color: initial;
}

main{
    @include size(100%, max-content);
    overflow: hidden;
}
    
header {
    @include size(100%, auto);
    background-color: #EDECEB;
    padding: 0px;
    padding-top:1%;
}

    
fieldset {
    overflow: hidden;
}

    /*titulos y subtitulos*/
    
h1 {
    @include text(black, inherit);
    letter-spacing: 4px;
    word-spacing: 6px;
    text-align: center;}

.tituloPrincipal {
    @include text(black, 50px);
    letter-spacing: 4px;
    word-spacing: 6px;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    text-decoration: none;

    &:hover{
        @extend .tituloPrincipal;
    }
}

.tituloPrincipalLink {
    color: black;
    text-decoration: none;
    &:hover{
        color: black;
        text-decoration: none;

    }
}

.subtitulo {
    @include text(inherit, 40px);
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}


h3{
    @include text(black, 20px);
    text-transform: uppercase;
}
    
h4{
    @include text(black, 18px);
    font-weight:900;
}
  
/*listas, parrafos*/
ol, ul {
    @include text(black, inherit);
    list-style-type: none;
    list-style: none;
}
    
p{
    @include text(black, 15px)
}
    
a {
    text-decoration: none;
}


/*INICIO*/

.inicio {
    @include size(100%, 70%);
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    fieldset {
        margin-bottom: 50px;
    }

    .inicio__video{
        display: block;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 50%;
        height:fit-content;
        padding: 20px;
        animation: subir 3s;
        background-color: rgb(242, 242, 242);
        h3 {
            text-transform: uppercase;
            @include text(black, 22px)
        }
        iframe{
            width: 100%;
        }
    }
    .inicio__historia {
        h3 {
            text-transform: uppercase;
            @include text(black, 22px)
        }
        background-color: rgb(242, 242, 242);
        flex-basis: 40%;
        height:fit-content;
        padding: 20px;
        animation: subir 3s;
        animation-iteration-count: 1;
        }
}

    
 
/*GALERIA*/
.galeria{
    display: block;
    .galeria__subtitulo{
        @extend .subtitulo;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
    .column {
        flex: 33%;
        max-width: 33%;
        padding: 0 4px;
    }
      
    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        animation: subir 1.5s;

    }

    .container {
        position: relative;
        width: 50%;
      }
      
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, -50%);
        -ms-transform: translate(50%, -80%);
        text-align: center;
      }
      
      .container:hover .image {
        opacity: 0.3;
      }
      
      .container:hover .middle {
        opacity: 1;
      }
      
      .text {
        color: black;
        font-size: 16px;
        padding: 16px 32px;
      }
      
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
}

/*FOOTER*/

footer{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(53, 53, 53);
    display: grid;
    grid-template-areas: 
                        "footer logo";
    grid-template-columns: 70% 30%;
    justify-content: center;
    height:max-content;
    .footer__lista {
        grid-area: footer;
        @include text(white, 15px);
        font-variant: small-caps;
        overflow: hidden;
        margin-right: 30px;
        .footer__elemento{
            padding-top: 0.5%;
        }
    }
    .footer__logo{
        grid-area: logo;
        overflow: hidden;
        padding-top: 5%;
        padding-left: 10%;
        img {
            height: 50%;
            width: auto;
        }  
    }
}
    

/*INDEX*/

.indice {
    filter:initial;
    @include text(black, 15px);
    @include size(100%, inherit);
    font-variant: small-caps;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;

    .indice__elemento{
        flex-basis: 19%;
        padding: 0px;
        margin-left: 100px;
        transition: all 1s;

        #indiceTalleres{
            padding:0px;
            }

        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                color:black;
            }
        }

        &:hover{
            font-size: 20px;
            text-decoration: underline;
        }

        .indice__subelemento{
            margin-left: 0px;
            font-size: 20px;
            transition: font-size 0.7s;

            &:hover{
                font-size: 22px;
            }
        }
    }

    .indice__seleccionado{
        text-decoration: underline;
    }

}

li {
    list-style-type: none;
}

/*CONTACTO*/

.formulario {
    @include text(black, 20px);
    font-style: italic;
    font-variant: small-caps;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background:rgb(204, 204, 204);
    animation: subir 1.5s;
    animation-iteration-count: 1;

    .button {
        @include text(black, 18px);
    }
    
    #enviar:focus {
        background-color: lightgreen;
    }
    
    #resetear:focus {
        background-color: lightsalmon;
    }
}


/*VISITAR*/
.visita{
    display: grid;
    grid-template-areas: 
                        "Protocolo Horarios";
    grid-template-columns: 58% 40%;
    grid-column-gap: 2%;
    justify-content: center;
    margin: 5%;
    height: 600px;
    background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/useo_bellas_artes980_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        @extend h3;
    }
    h4{
        @extend h4;
    }
    p{
        @extend p;
    }
    
    .visita__protocolo{
        height: 100%;
        grid-area: Protocolo;
        padding: 20px;
        animation: subir 1.5s;
        background-color: rgba(242, 242, 242, 0.644);
        
    }
    .visita__horarios{
        grid-area: Horarios;
        padding: 20px;
        height: fit-content;
        background-color: initial;
        animation: subir 1.5s;
        
    }
}


/*TALLERES*/
.talleres{
    display: grid;
    grid-template-rows: 22% 22% 22% 22%;
    grid-template-columns: 100%;
    grid-template-areas: 
                             "taller" 
                             "taller"
                             "taller" 
                             "taller";
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    grid-row-gap: 100px;
    grid-column-gap: 20%;

    .talleres__taller{
        display: grid;
        grid-template-rows: 30% 50%;
        grid-template-columns: 60% 40%;
        grid-template-areas: "sub sub"
                             "info foto";
        grid-row-gap: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
        animation: subir 1.5s;
        animation-iteration-count: 1;
        overflow: hidden;
        align-items:center;
        justify-items: stretch;
        div p {
            @include text(black, 15px);
        }

        .talleres__nombre{
            grid-area: sub;
            font-size: 15px;
        }
        
        .talleres__imagen{
            grid-area: foto;
            img{
                @include size(auto, 300px);
                overflow: hidden;
           
            }
        }

        .talleres__info{
            grid-area: info;
            font-size: 15px;
            display: grid;
            grid-template-rows: 10% 30% 60%;
            grid-template-columns: 100%;
            grid-template-areas: "precio"
                                "dur"
                                "mat" ;
            grid-row-gap: 5%;
            padding: 10px;
            background: rgb(242,242,242);
            overflow: hidden;
            h4{
                font-size: 15px;
            }
            ul{
                font-size: 15px;
            }
            li{
                font-size: 15px;
            }

            .talleres__duracion{
                grid-area:dur;
            }
        
            .talleres__precio{
                grid-area:precio;
            }
            
            .talleres__material{
                grid-area:mat;
            }
        }
     }    
}
    
/*Animaciones*/


@keyframes subir {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }

}


/*Media Query*/

/*Tablet

INICIO y GALERÍA

*/

@media only screen and (max-width: 768px) {
    header {
        padding: 0px;
        @include size(100%, max-content);
    }
    
    .footer__logo{
        display: block;
        }  

    .indice {
        @include text(black, 15px);
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        .indice__elemento{
            margin: 0px;
        }
    }
    .visita__imagenes{
        width: 500px;
        margin: 0px;
    }
    .inicio {
        @include size(100%, 70%);
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    
        fieldset {
            margin-bottom: 50px;
        }
    
        .inicio__video{
            display: block;
            flex-direction: column;
            justify-content: space-evenly;
            flex-basis: 50%;
            height:fit-content;
            padding: 20px;
            animation: subir 3s;
            background-color: rgb(242, 242, 242);
            h3 {
                text-transform: uppercase;
                @include text(black, 22px)
            }
            iframe{
                width: 100%;
            }
        }
        .inicio__historia {
            h3 {
                text-transform: uppercase;
                @include text(black, 22px)
            }
            background-color: rgb(242, 242, 242);
            flex-basis: 50%;
            height:fit-content;
            padding: 20px;
            animation: subir 3s;
            animation-iteration-count: 1;
            }
        }
}

/*Smartphone

INICIO y GALERÍA

*/

@media only screen and (max-width: 480px) {
    header {
        padding: 0px;
        height: max-content;
        width: 100%;
    }

    .indice {
        @include text(black, 15px);
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        .indice__elemento{
            margin: 0px;
        }
    }

    .inicio {
        @include size(100%, 70%);
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    
        fieldset {
            margin-bottom: 50px;
        }
    
        .inicio__video{
            display: block;
            flex-direction: column;
            justify-content: space-evenly;
            flex-basis: 50%;
            height:fit-content;
            padding: 20px;
            animation: subir 3s;
            background-color: rgb(242, 242, 242);
            h3 {
                text-transform: uppercase;
                @include text(black, 22px)
            }
            iframe{
                width: 100%;
            }
        }
        .inicio__historia {
            h3 {
                text-transform: uppercase;
                @include text(black, 22px)
            }
            background-color: rgb(242, 242, 242);
            flex-basis: 50%;
            height:fit-content;
            padding: 20px;
            animation: subir 3s;
            animation-iteration-count: 1;
            }
        }
    
    .footer__logo{
        display: block;
        }
            
    }
    



